---
layout: layout1
---

<%= stylesheet_link_tag "packaging" %>
<%= javascript_include_tag "jquery.zoom.js" %>

<script>
    $(document).ready(function(){
      $('#ex1').zoom();
      $('#ex2').zoom();
      $('#ex3').zoom();      
      $('#ex4').zoom();
      $('#ex5').zoom();
      $('#ex6').zoom();
      $('#ex7').zoom();      
      $('#ex8').zoom();
      $('#ex9').zoom();
      $('#ex10').zoom();
      $('#ex11').zoom();      
      $('#ex12').zoom();
      $('#ex13').zoom();
      $('#ex14').zoom();
      $('#ex15').zoom();      
      $('#ex16').zoom();
      $('#ex17').zoom();
      $('#ex18').zoom();
    });
  </script>

<div class="intro-container"></div>
<div class="intro-text">
  <p><a class="custom-link" href="https://www.rawbites.com.ph">Raw Bites</a> started as a healthy snacks and beverage subscription box since 2016 based in Manila, Philippines. The brand has now pivoted into a full e-commerce grocery store with their own website and presence in national online marketplaces such as Lazada, Shopee and BeautyMNL.
  Raw Bites wanted to expand into providing basic essential superfoods such as nuts, seeds and grains with their own private label. The brand wanted something classy, clean, fun and attractive to make it stand out from other online product listings since these are common pantry items.</p>
  <p>The products will be single-serve in a resealable pouch. <a class="custom-link" href="https://www.rawbites.com.ph">Raw Bites</a> decided on using solid white pouches to have a clean look and prolong shelf life away from sunlight. The limitation is that only front print area will be used with digital print rectangular stickers, making it easier and more flexible to pack the items fresh as needed.</p>
  <p><b>NUTS</b> — Almonds, Hazelnuts, Pistachios, Walnuts, Cashews</br>
  <b>SEEDS</b> — Pumpkin Seeds, Sunflower Seeds, Golden Flax Seeds, Chia Seeds, Goji Berries</br>
  <b>GRAINS</b> — Tri-Color Quinoa, Red Quinoa, Black Quinoa, White Quinoa, White Adlai</br>
  <b>PANTRY</b> — Coconut Sugar, Himalayan Salt (fine), Almond Flour, Coconut Flour</p>
  <p>The project started in February 2019 and was launched after 1.5 months. Since then, Raw Bites private label items have become bestsellers. The products are also now sold in several physical retail shops across the Metro, leading to expansion of the product line to bigger share packs.</p>
</div>

<div class="row photo-container">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex1">
      <img class="photo" src="../images/rawbitesphotos/cacaonibs.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex2" >
      <img class="photo" src="../images/rawbitesphotos/gojiberries.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex3">
      <img class="photo" src="../images/rawbitesphotos/chiaseeds.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex4">
      <img class="photo padding9" src="../images/rawbitesphotos/pumkinseeds.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex5">
      <img class="photo" src="../images/rawbitesphotos/sunflowerseeds.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex6">
      <img class="photo" src="../images/rawbitesphotos/flaxseeds.jpg"> 
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex7">
      <img class="photo" src="../images/rawbitesphotos/sunflowerseeds.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex8">
      <img class="photo" src="../images/rawbitesphotos/pistachios.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex9">
      <img class="photo" src="../images/rawbitesphotos/cashew.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex10">
      <img class="photo" src="../images/rawbitesphotos/almond.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex11">
      <img class="photo" src="../images/rawbitesphotos/hazelnuts.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex12">
      <img class="photo" src="../images/rawbitesphotos/walnuts.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex13">
      <img class="photo" src="../images/rawbitesphotos/whitequinoa.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex14">
      <img class="photo" src="../images/rawbitesphotos/redquinoa.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex15">
      <img class="photo" src="../images/rawbitesphotos/blackquinoa.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex16">
      <img class="photo" src="../images/rawbitesphotos/whiteadlai.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex17">
      <img class="photo" src="../images/rawbitesphotos/coconutflour.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding zoom" id="ex18">
      <img class="photo" src="../images/rawbitesphotos/coconutsugar.jpg">  
  </div>
 <!--  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding">
      <img class="photo" src="../images/rawbitesphotos/walnuts.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding">
      <img class="photo" src="../images/rawbitesphotos/nuts.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding">
      <img class="photo" src="../images/rawbitesphotos/gojichia.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding">
      <img class="photo" src="../images/rawbitesphotos/threeseeds.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding">
      <img class="photo" src="../images/rawbitesphotos/cashews.jpg">  
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding">
      <img class="photo" src="../images/rawbitesphotos/gojiberriesdetail.jpg">
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding">
      <img class="photo" src="../images/rawbitesphotos/cacaonibsdetail.jpg">
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding">
      <img class="photo" src="../images/rawbitesphotos/chiaseedsdetail.jpg">
  </div> -->
</div>