---
layout: layout1
---

<%= stylesheet_link_tag "roger-sport" %>


<div class="intro-container">
	<img class="logo" src="../images/rogerlogowithlines.svg">
	<p class="intro-text">Roger Sport is a premium sportswear company based in Zamudio, Basque Country, established since 1990. The brand specializes in customizations for teams and recently developed their own commercial wear. The overall design look is simple yet modern with special attention to details. <br>The initial project was to completely redesign the brand identity to make it in line with the modern times. Our team resulted with a simplified yet bolder version of the logo and updated brand colors. Once approved, we created several new applications such as garment tags, outdoor signages and seasonal catalogues. We also developed a custom theme for their company website and e-commerce store. With the new changes implemented, the brand communicates more efficiently with their customers.</p>
	<img class="separator" src="../images/rs-line.svg">
	<img class="rs-imagesjpg" src="../images/rs-businesscards.jpg">
	<img class="separator" src="../images/rs-line.svg">
	<img class="rs-imagesjpg" src="../images/rsrollup.jpg">
	<img class="separator" src="../images/rs-line.svg">
	<img class="rs-imagesjpg" src="../images/rscatalog.jpg">
	<img class="separator" src="../images/rs-line.svg">
	<img class="rs-imagesjpg" src="../images/rsbox.jpg">
	<img class="separator" src="../images/rs-line.svg">
	<p class="intro-text">Currently, Roger Sport continues working with our studio for their design needs. Upcoming projects include stands that will be used in future events and fairs, or labels for company vehicles.</p>
</div>
