---
layout: layout2
---

<%= stylesheet_link_tag "roger-sport" %>

<div class="rs_background">
  <div class="intro-container">
	  <img class="logo" src="../images/rogerlogowithlines.svg">
	  <p class="intro-text">Roger Sport is a sportwear brand and manufacturer based in Zamudio, Basque Country. It can be defined as high end modern and simple looking, with a special attention to the details.<br>The project started from an existing business, entrusted us with a complete redesigning of their brand, which would allow them to communicate in a more efficient way. The naming also needed to be change, the old one was too long and not accurate so we offer them a better solution based on simplicity. The result was a bold purposeful logo.<br>The company continues working with us for any design they need and we always exceed their expectations. They also wanted a catalog for their products so we took and retouch photos and make it</p>
	  <img class="separator" src="../images/rs-line.svg">
	  <img class="rs-imagesjpg" src="../images/rs-businesscards.jpg">
	  <img class="separator" src="../images/rs-line.svg">
	  <p class="intro-text">We created the logo, stationary elements, packaging for shipping boxes, tags for their garments, roll-ups posters etc.</p>
	  <img class="rs-imagesjpg" src="../images/rsrollup.jpg">
	  <img class="separator" src="../images/rs-line.svg">
	  <img class="rs-imagesjpg" src="../images/rscatalog.jpg">
	  <img class="separator" src="../images/rs-line.svg">
	  <img class="rs-imagesjpg" src="../images/rsbox.jpg">
	  <img class="separator" src="../images/rs-line.svg">
  </div>
</div>
