--- 
layout: layout2
---

<%= stylesheet_link_tag "sportwear" %>
<div class="BE-container row">
  <div class="text col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-4 col-lg-7 col-lg-offset-4 col-xl-7 col-xl-offset-4">
    <h1 class="be-title">BASQUE EDITION</h1>
    <p class="p-be"> Este proyecto se basa en el diseño de una equipación completa de ciclismo de carretera, es decir maillots, culottes, chaqueta, chubasquero y complementos.<br>El diseño fué para una empresa del País Vasco, la cual quería algo inspirado en dicha localidad. El objetivo era crear un diseño sencillo y con sutíles toques de color, que conseguimos finalmente tras varios estudios.<br>La complejidad de las prendas exigió un completo conocimiento de los patrones con objeto de llevar a cabo el diseño. Se pueden ver varios ejemplos
    <a class="link" href="https://store.roger-sport.com/collections/maillot-largo/products/maillot-largo-basque-edition"> aquí. </a>
    Tras varios meses el feedback obtenido ha sido muy positivo.
    </p>
  </div>
</div>
<div class="big-separator">
</div>
<div class="blues-container row">
  <div class="text col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1 col-xl-7 col-xl-offset-1">
    <h1 class="blues-title">BLUES</h1>
    <p class="p-blues"> En este caso el diseño era para un body de triatlón para competición.<br> Para ello nos inspiramos en la esencia del propio deporte. La natación, el ciclismo y el atletismo, donde plasmamos diversos objetos y conceptos como el mar, las largas distancias o las ruedas de la bicicleta. Finalmente la idea también se adaptó a otras prendas como maillots de ciclismo o camisetas de atletismo.<br>Se pueden ver varios ejemplos
    <a class="link" href="https://store.roger-sport.com/collections/ciclismo/products/maillot-corto-blues"> aquí.</a>
    </p>
  </div>
</div>
<div class="big-separator">
</div>
<div class="s-container row">
  <div class="s-kind col-sm-1 col-md-1 col-lg-1 col-xl-1"><h2 class="s-type-dark">S-PAD</h2>
  </div>
  <div class="text col-sm-10 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1 col-xl-8 col-xl-offset-1">
    <h1 class="s-title">S–LINE</h1>
    <p class="p-s">La idea era sencilla: crear una linea de prendas con diseños geométricos simples.<br> Se presentaron tres conceptos, en primer lugar uno con colores planos y corporativos de la marca<a class="link" href="https://store.roger-sport.com/collections/ciclismo/products/maillot-corto-s-pad-black"> [S–PAD]</a>, el segundo con el principal objetivo de aumentar la visivilidad mediante colores fluor<a class="link" href="https://store.roger-sport.com/collections/maillot-largo/products/maillot-largo-s-oso"> [S–OSO]</a>, y el tercero que pretendía ser un diseño diferente y algo más elaborado<a class="link" href="https://store.roger-sport.com/collections/ciclismo/products/maillot-corto-ego"> [S–SHAPE]</a>.
    </p>
  </div>
</div>
<div class="big-separator">
</div>
<div class="s-container2 row">
  <div class="s-kind col-sm-1 col-md-1 col-lg-1 col-xl-1"><h2 class="s-type-light">S-OSO</h2>
  </div>
  <div class="text col-sm-10 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1 col-xl-8 col-xl-offset-1">
    <!-- <p class="p-s2">La idea fué crear una linea de prendas con diseños geométricos simples. 
    <a class="link" href="https://store.roger-sport.com/collections/ciclismo/products/maillot-corto-blues"> aquí.</a>
    </p> -->
  </div>
</div><div class="big-separator">
</div>
<div class="s-container3 row">
  <div class="s-kind col-sm-1 col-md-1 col-lg-1 col-xl-1"><h2 class="s-type-dark">S-SHAPE</h2>
  </div>
  <div class="text col-sm-10 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1 col-xl-8 col-xl-offset-1">
    <!-- <p class="p-s2">La idea fué crear una linea de prendas con diseños geométricos simples. 
    <a class="link" href="https://store.roger-sport.com/collections/ciclismo/products/maillot-corto-blues"> aquí.</a>
    </p> -->
  </div>
</div>






