body {
  text-align: center;
  font-weight:100 ;
}
.home-text {
	background-color: #292929;
	letter-spacing: 3px;
	padding: 50px;
	font-size: 60px;
	color:white;
	font-weight: 100;
	margin:0px;
}
.home-text em {
	font-style: normal;
	color: gold;
}
#lightdark-logo {
  position: relative;
  text-align:center;
  width: 100%;
  max-width: 700px;
  margin-top: 180px;
  margin-bottom: 100px;
  padding: 30px;
  z-index: 1000;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;	
}
.logo-container {
  background-image: url(../images/studio-back2.svg);
  height: 800px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: color 10s infinite;
  -moz-animation: color 10s infinite;
  animation: color 10s infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  -moz-transform: translateZ(0) !important;
}
#lightdark-logo-over {
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin-top: 180px;
  margin-bottom: 100px;
  padding: 30px;
  z-index: 1001;
}
.questions-block {
  background-color: white;
}
.containers {
  display: table;
  padding: 0px !important;
  min-height: 300px;
} 
.questions-text {
  padding: 0px 10px;
  display: table-cell;
  vertical-align: middle;
  background-color: #80808080;
  margin: 0px !important;
  font-size: 60px;
  font-weight: 600;
}
.answer-text {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 30px;
}
.small-icon {
  position: absolute;
  margin-top: 210px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
}
h4 {
  display: table-cell;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 30px;
}
.more-info{
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.more-info:hover {
  text-decoration: underline;
  color: rgb(199, 178, 0);
}
@media (max-width: 1000px ) {
.home-text {
  padding: 30px;
  font-size: 40px;
}
.questions-text {
  font-size: 50px;
}
}
@media (max-width: 768px ) {
.containers {
  width: 100%;
}
.logo-container {
  background-attachment: scroll;
  height: 650px;
}
}
@media (max-width: 550px ) {
.small-icon {
  display: none;
}
.logo-container {
  height: 500px;
}
.answer-text{
  padding: 20px;
}
}
@-webkit-keyframes color {
  0% {
  background-color: rgba(255, 255, 255, 0.50);
  }
  25% {
  background-color: rgba(255, 255, 0, 0.46);
  }
  50% {
  background-color: rgba(255, 147, 32, 0.51);
  }
  75% {
  background-color: rgba(255, 238, 0, 0.6);
  }
  100% {
  background-color: rgba(255, 255, 255, 0.50);
  }
}
@keyframes color {
  0% {
  background-color: rgba(255, 255, 255, 0.50);
  }
  25% {
  background-color: rgba(255, 255, 0, 0.46);
  }
  50% {
  background-color: rgba(255, 147, 32, 0.51);
  }
  75% {
  background-color: rgba(255, 238, 0, 0.6);
  }
  100% {
  background-color: rgba(255, 255, 255, 0.50);
  }
}

