body {
  text-align: center;
  font-weight:100 ;
}
.home-text {
	background-color: #292929;
	letter-spacing: 3px;
	padding: 50px;
	font-size: 60px;
	color:white;
	font-weight: 100;
	margin:0px;
}
.home-text em {
	font-style: normal;
	color: gold;
}
#lightdarklogo {
  height: 280px;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 35vh;
  z-index: 1000;
}
.salesvideo {
  background-color: black;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0px;
  right: 0px;
  overflow: auto;
  z-index: -100;
}
.video-container {
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.questions-block {
  background-color: white;
}
.containers {
  display: table;
  padding: 0px !important;
  min-height: 300px;
} 
.questions-text {
  padding: 0px 10px;
  display: table-cell;
  vertical-align: middle;
  background-color: #80808080;
  margin: 0px !important;
  font-size: 60px;
  font-weight: 600;
}
.answer-text {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 30px;
}
.small-icon {
  position: absolute;
  margin-top: 210px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
}
h4 {
  display: table-cell;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 30px;
}
.more-info{
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.more-info:hover {
  text-decoration: underline;
  color: rgb(199, 178, 0);
}
@media (max-width: 1350px ) {
  .salesvideo {
  width: auto;
}
}
@media (max-width: 1000px ) {
.home-text {
  padding: 30px 15px;
  font-size: 40px;
}
.questions-text {
  font-size: 50px;
}
}
@media (max-width: 768px ) {
.containers {
  width: 100%;
}
.logo-container {
  background-attachment: scroll;
  height: 650px;
}
}
@media (max-width: 550px ) {
.small-icon {
  display: none;
}
.logo-container {
  height: 500px;
}
.answer-text{
  padding: 20px;
}
#lightdarklogo {
  height: 200px;
}
}
@media screen and (max-width: 1024px) {   
    #lightdarklogo{
      background-image: url(../images/LDLogoWhite.svg);
    } 
}
@media screen and (min-width: 1025px) {      
    #lightdarklogo{
      background-image: url(../images/LDLogo.svg);
    }
} 
