@font-face {
    font-family: futura_font;
    src: url(/fonts/futura_light.ttf);
    font-weight: lighter;
} 
@font-face {
    font-family: futura_font;
    src: url(/fonts/futura_book.ttf);
    font-weight: normal;
} 
@font-face {
    font-family: futura_font;
    src: url(/fonts/futura_medium.ttf);
    font-weight: bold;
} 

  * {
  font-family: futura_font, sans-serif;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important; 
}
.moment-text {
  font-weight:100;
  color:#909090;
  padding:50px;
}
.home-button {
  display: none;
}
.menu-container {
  top: 0px;
  width:100%;
  background-color:rgba(0, 0, 0, 0.24);
  position:fixed;
  display:inline block;
  padding: 30px;
  text-align: center;
  font-weight: 100;
  z-index: 1010;
  visibility: visible;
}
.menu-elements {
  font-weight: 100;
  font-size: 22px;
  padding: 0px;
  color: white ;
  visibility: visible;
}
.menu-elements2 {
  font-size: 22px;
  font-weight: 600;
  padding: 0px;
  color: black ;
  visibility: visible;
}
#menu-logo {
  margin: -10px;
  width: 50px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; 
  visibility: visible;
}
#menu-logo:hover {
  -ms-transform: rotate(360deg) ; 
  -webkit-transform: rotate(360deg); 
  transform: scale(1.5) rotate(360deg);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-filter: drop-shadow(0px 3px 3px rgba(60, 60, 59, 0.4)); /* Safari */
  filter: drop-shadow(0px 3px 3px rgba(60, 60, 59, 0.4));
  transition: 0.7s; 
  opacity: 1;
  visibility: visible;
}
.menu-elements:hover {
  color: white;
  text-decoration: none;
  padding-bottom: 28px;
  border-bottom: 5px solid white;
  visibility: visible;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.menu-elements2:hover {
  color: black;
  text-decoration: none;
  padding-bottom: 28px;
  border-bottom: 5px solid black;
  visibility: visible;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer {
  padding: 30px 10px;
  background-color: #525252;
}
.footer-text {
  color: #e6e6e6;
  letter-spacing: 2px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: 100;
}
.footer-text-titles {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  color:black;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
}
.footer-link {
  text-decoration: none;
  color: inherit;
}
.footer-link:hover {
  text-decoration: none;
  color: white;
}
.language-container {
  position: absolute;
  top: 90px;
  right: 0px;
  padding: 2px 5px;
  background-color: black;
}
.language {
  color: rgb(198, 198, 198);
  font-size: 20px;
}
.language:hover {
  text-decoration: overline;
  color: rgb(199, 178, 0);
}

@media (min-width: 990px) and (max-width: 1321px) {
.menu-elements, .menu-elements2 {
  font-size: 17px;
  letter-spacing: 0px;
  margin-left: -15px;
}
.menu-container {
  padding: 24px 0px;
}
.language-container {
  top: 78px;
}
}
@media ( max-width: 991px ) {
.menu-container {
  background-color: rgba(0, 0, 0, 0.61); 
}
.menu-elements, .menu-elements2 {
  font-weight: 100;
  padding: 0px 10px;
  color: white;
}
.menu-elements:hover, .menu-elements2:hover {
  border-left: 5px solid white;
  text-decoration: none;
  border-bottom: none;
  padding-bottom: 0px;
  color: white;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#menu-logo {
  display: none;
}
.home-button {
  display: block;
  font-size: 22px;
  padding: 0px 20px;
  color: white ;
  font-weight: 100;
}
.language-container {
  top: 90px;
}
.language {
  font-size: 25px;
}
} 