  * {
  font-family: Futura, sans-serif;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important; 
}
.moment-text {
  font-weight:100;
  color:#909090;
  padding:50px;
}
.home-button {
  display: none;
}
.menu-container {
  top: 0px;
  width:100%;
  background-color:#0000003d;
  position:fixed;
  display:inline block;
  padding: 30px;
  text-align: center;
  font-weight: 100;
  z-index: 1010;
}
.menu-elements {
  font-weight: 100;
  font-size: 22px;
  padding: 0px 10px;
  color: white ;
}
.menu-elements2 {
  font-size: 22px;
  font-weight: 500;
  padding: 0px 10px;
  color: black ;
}
.menu-elements-home {
  font-size: 22px;
  padding: 0px 20px;
}
#menu-logo {
  margin: -10px;
  width: 50px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; 
}
#menu-logo:hover {
  -ms-transform: rotate(360deg) ; 
  -webkit-transform: rotate(360deg); 
  transform: scale(1.5) rotate(360deg);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-filter: drop-shadow(0px 3px 3px #3c3c3b66); /* Safari */
  filter: drop-shadow(0px 3px 3px #3c3c3b66);
  transition: 0.7s; 
  opacity: 1;
}
.menu-elements:hover {
  color: white;
  text-decoration: none;
  padding-bottom: 28px;
  border-bottom: 5px solid white;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.menu-elements2:hover {
  color: black;
  text-decoration: none;
  padding-bottom: 28px;
  border-bottom: 5px solid black;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 990px) and (max-width: 1321px) {
.menu-elements, .menu-elements2 {
  font-size: 17px;
  letter-spacing: 0px;
  margin-left: -15px;
}
.menu-container {
  padding: 24px 0px;
}
}
@media ( max-width: 991px ) {
.menu-container {
  background-color: #0000009c; 
}
.menu-elements, .menu-elements2, .menu-elements-home {
  font-weight: 100;
  color: white;
}
.menu-elements:hover, .menu-elements2:hover, .menu-elements-home:hover {
  border-left: 5px solid white;
  text-decoration: none;
  border-bottom: none;
  padding-bottom: 0px;
  color: white;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#menu-logo {
  display: none;
}
.home-button {
  display: block;
  font-size: 22px;
  padding: 0px 20px;
  color: white ;
  font-weight: 100;
}
}
.footer {
  padding: 30px 10px;
  background-color: #525252;
}
.footer-text {
  color: #e6e6e6;
  letter-spacing: 2px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: 100;
}
.footer-text-titles {
  margin-bottom: 20px;
  font-size: 30px;
  color:black;
  letter-spacing: 1px;
  font-weight: 1000;
  text-align: center;
}
.footer-link {
  text-decoration: none;
  color: inherit;
}
.footer-link:hover {
  text-decoration: none;
  color: white;
}


