/*.heart {
	background-color: #fdbfbf63;
}
.brain {
	background-color: pink;
}
.dove {
	background-color: white;
}
.row {
	margin: 0px !important ;
}
.col-sm-12, .col-md-6, .col-lg-6, .col-xl-6 {
	padding: 0px !important;
}*/
h1 {
	margin:300px 0px;
	text-align: center;
}