h2 {
    margin: 0px -50px;
    padding: 20px 10px;
	font-size: 35px;
	letter-spacing: 5px;
	color: gray;
	font-weight: 100;
}
h3 {
	font-size: 35px;
	letter-spacing: 5px;
	color: orange;
	font-weight: 300;
}
p {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 500;
	color: black;
}
.skill {
	margin-top: 100px;
}
.icon {
	max-height: 500px;
	display: block;
	margin:auto;
	padding: 50px;
}
.text {
	min-height: 180px;
	text-align: center;
	margin: -40px 50px;
}
.container {
	width: auto;
	margin-bottom: 150px;
}