.BE-container {
  padding-top: 50px;
  background-image: url(../images/cycling_kit_BASQUE-EDITION.jpg);
  min-height: 800px; 
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.blues-container {
  background-color: #dbf0ff;
  background-image: url(../images/BLUES_skinsuit_halffront.jpg);
  min-height: 750px; 
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}	
.s-container {
  background-color: white;
  background-image: url(../images/s-pad.jpg);
  min-height: 750px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.s-container2 {
  background-color: black;
  background-image: url(../images/s-oso.jpg);
  min-height: 750px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.s-container3 {
  background-color: #ffb9ef;
  background-image: url(../images/s-shape.jpg);
  min-height: 750px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.text {
	vertical-align: center;
	text-align: center;
}
.big-separator {
	background-color: white;
	height: 3px;
}
.be-title { 
	font-size: 60px;
	font-weight: 100;
	background-color: rgba(255, 255, 255, 0.8);
	margin: 100px 0px;
	padding: 40px 5px;
	color:black;
	letter-spacing: 5px;
	border-right: 2px solid red;
	border-left: 2px dotted green;
}
.blues-title {
    font-size: 60px;
    font-weight: 100;
    background-color: rgba(219, 240, 255, 0.5);
    margin: 100px 0px;
    padding: 40px 5px;
    color: black;
    letter-spacing: 15px;
    border-right: 2px solid rgb(0, 160, 228);
    border-left: 2px solid rgb(27, 22, 137);
}
.s-title {
    font-size: 60px;
    font-weight: 100;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 100px 0px;
    padding: 40px 5px;
    color: black;
    letter-spacing: 15px;
    border-right: 2px solid black;
    border-left: 2px solid red;
}
.p-be {
	padding: 40px 15px;
	margin-bottom: 30px;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 22px;
	text-align: justify;
	line-height: 2;
	font-weight: 300;
	color: black;
	letter-spacing: 1.5px;

}
.p-blues {
    padding: 40px 15px;
    margin-bottom: 30px;
	background-color: rgba(219, 240, 255, 0.5);
	font-size: 22px;
	text-align: justify;
	line-height: 2;
	font-weight: 300;
	color: black;
	letter-spacing: 1.5px;
}
.p-s {
    padding: 40px 15px;
    margin-bottom: 30px;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 22px;
	text-align: justify;
	line-height: 2;
	font-weight: 300;
	color: black;
	letter-spacing: 1.5px;
}
.s-kind {
	padding: 0px !important;
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	margin-top: 20%;
}
.s-type-dark {
	margin-right: 0px !important;
	font-size: 40px;
	color:rgb(37, 37, 37);
}
.s-type-light {
	margin-right: 0px !important;
	font-size: 40px;
	color:lightgray;
}
.link {
	font-weight:500 !important;
	color: black;
}
.link:hover {
  text-decoration: underline;
  color: gray;
}
@media (max-width: 768px ) {
.s-type-dark, .s-type-light {
	font-size: 30px;
}
.BE-container, .blues-container, .s-container, .s-container2, .s-container3 {
	background-size: cover;
	min-height: 680px;
}
}












