.works-container {
	
}
.separator {
	height: 5px;
	background-color: white;
}
.text {
    position: absolute;
	left: 50%;
	-o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	top: 50%;
}
h1 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	text-align: justify;
	font-size: 60px;
	font-weight: 100;
	letter-spacing: 10px;
	color: black;
	padding: 10px 25px;
	border: 10px solid transparent;
	-webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
h1 sup {
	font-weight: 200;
	font-size: 15px;
	top:0;
	color: red;
}
a:hover {
  text-decoration:none;
}
h2 {
	padding: 0px 25px;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 5px;
	color: white;
}
#logo-collection {
	position: relative;
	background-image: url(../images/logo-collection.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
}
#roger-sport {
	position: relative;
	background-image: url(../images/roger-sport.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
}
#textile-design {
	position: relative;
	background-image: url(../images/textile-design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
}
#packaging {
	position: relative;
	background-image: url(../images/rawbitescover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
}
h1:hover {
	border-radius: 50px;
	border: 10px solid white;
	background-color: #ffffff24;
	border-top-color: transparent;
	border-bottom-color: transparent;
	-webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;	
} 

/*LOGO COLLECTION STYLES BELOW*/
.logo-container {
	margin: 100px 0px;
}
.logo-svg {
	width: 100%;
	filter: grayscale(100%) ;
}
.logo-svg:hover {
	filter: grayscale(0%);
}
.no-padding {
	padding: 0px !important;
}

/* FINISH LOGO COLLECTION STYLES */

@media (max-width: 600px ) {
h1 {
	font-weight: 100;
   font-size: 30px;
}
h2 { 
	text-align: center;
	line-height: 25px;
}
}