---
layout: layout1
---

<%= stylesheet_link_tag "about" %>
<div class="quote-container row">
 <div class="col-xl-12">	
  <p class="quote">"Simplicity is the ultimate sophistication"<br><em>– Leonardo Da Vinci –</em>
  </p>
 </div>
</div>
<div class="row">

 <div class="no-padding col-sm-12 col-md-4 col-lg-4 col-xl-4">	
  <img id="memberx" class="members" src="../images/memberx.svg">
 </div>
 <div id="more-info-x" class="more-info-x more-info">
 	<p><em>Member X</em><br>Creative<br>Dreamer<br>Active<br>Funny<br>Logo lover<br>Illustrator	
 	</p>
 </div>
 <div class="no-padding col-sm-12 col-md-4 col-lg-4 col-xl-4">	
  <img id="membery" class="members" src="../images/membery.svg">
 </div>
 <div id="more-info-y" class="more-info-y more-info">
 	<p><em>Member Y</em><br>Analytical<br>Organize<br>Engineer<br>Geometry lover<br>Brave<br>Out of the box.	
 	</p>
 </div>
 <div class="no-padding col-sm-12 col-md-4 col-lg-4 col-xl-4">	
  <img id="memberz" class="members" src="../images/memberz.svg">
 </div>
 <div id="more-info-z" class="more-info-z more-info">
 	<p><em>Member Z</em> <br>Smart<br>Methodical<br>Hardworking<br>Colorfull<br>Animal lover <br> Illustrator	
 	</p>
 </div>

</div><!--  END ROW -->

<div class="about-us-container row">
 <div class="col-xl-12">	
  <p class="about-us">We are a multidisciplinary team with a strong creative concept, from different backgrounds but with a love for design in common, which makes difference perspectives converge into a common goal, ending with the optimal solution.<br>Together we have over 10 years of experience on the industry and most important we love our job. After all design is not always about creating, but about exploring and finding an existing solution.<br>We believe in the power of teamwork and in a continue feedback client-designer in order to achieve the best result.<a class="link" href="contact.html"> Let's work together.</a></p>
 </div>
</div>