---
layout: layout1
---

<%= stylesheet_link_tag "about" %>
<div class="quote-container row">
 <div class="col-xl-12">	
  <p class="quote">"Simplicity is the ultimate sophistication"<br><em>Leonardo Da Vinci</em>
  </p>
 </div>
</div>
<div class="row">

 <div class="no-padding col-sm-12 col-md-4 col-lg-4 col-xl-4">	
  <img id="memberx" class="members" src="../images/memberx.svg">
 </div>
 <div id="more-info-x" class="more-info-x more-info">
 	<p><em>Member X</em><br>Creative<br>Dreamer<br>Active<br>Funny<br>Logo lover<br>Illustrator<br>Persistent	
 	</p>
 </div>
 <div class="no-padding col-sm-12 col-md-4 col-lg-4 col-xl-4">	
  <img id="membery" class="members" src="../images/membery.svg">
 </div>
 <div id="more-info-y" class="more-info-y more-info">
 	<p><em>Member Y</em><br>Analytical<br>Organize<br>Engineer<br>Geometry lover<br>Brave<br>Out of the box<br>Serious-minded
 	</p>
 </div>
 <div class="no-padding col-sm-12 col-md-4 col-lg-4 col-xl-4">	
  <img id="memberz" class="members" src="../images/memberz.svg">
 </div>
 <div id="more-info-z" class="more-info-z more-info">
 	<p><em>Member Z</em> <br>Smart<br>Methodical<br>Hardworking<br>Colorfull<br>Animal lover<br>Illustrator<br>Fit	
 	</p>
 </div>

</div><!--  END ROW -->

<div class="about-us-container row">
 <div class="col-xl-12">	
  <p class="about-us">Our team is comprised of different strengths and backgrounds but with a common love for good design.<br>Our different perspectives converge in finding the optimal solution for our clients. We value teamwork and continuous feedback with our partners in order to achieve the best results. Together, we have over 10 years of experience in the industry.<br>We love our job, we won't stop exploring and we won't stop creating.<a class="link" href="contact.html"> Get in touch with us so we can work together.</a></p>
 </div>
</div>

