---
layout: layout1
---

<%= stylesheet_link_tag "about" %>
<div class="quote-container row">
 <div class="col-xl-12">	
  <p class="quote">"Simplicity is the ultimate sophistication"<br><em>Leonardo Da Vinci</em>
  </p>
 </div>
</div>
<div class="row">

 <div class="no-padding col-sm-12 col-md-4 col-lg-4 col-xl-4">	
  <img id="memberx" class="members" src="../images/memberx.svg">
 </div>
 <div id="more-info-x" class="more-info-x more-info">
 	<p><em>Member X</em><br>Creative<br>Dreamer<br>Active<br>Funny<br>Logo lover<br>Illustrator	
 	</p>
 </div>
 <div class="no-padding col-sm-12 col-md-4 col-lg-4 col-xl-4">	
  <img id="membery" class="members" src="../images/membery.svg">
 </div>
 <div id="more-info-y" class="more-info-y more-info">
 	<p><em>Member Y</em><br>Analytical<br>Organize<br>Engineer<br>Geometry lover<br>Brave<br>Out of the box.	
 	</p>
 </div>
 <div class="no-padding col-sm-12 col-md-4 col-lg-4 col-xl-4">	
  <img id="memberz" class="members" src="../images/memberz.svg">
 </div>
 <div id="more-info-z" class="more-info-z more-info">
 	<p><em>Member Z</em> <br>Smart<br>Methodical<br>Hardworking<br>Colorfull<br>Animal lover <br> Illustrator	
 	</p>
 </div>

</div>

<div class="about-us-container row">
 <div class="col-xl-12">	
  <p class="about-us">We are a multidisciplinary team with a strong creative concept, from different backgrounds but with a love for design in common, which makes difference perspectives converge into a common goal, that ends with the optimal solution.<br>And most important we love our job. Together we have over 10 years of experience on the industry and each time we success in our mission of solving our client problems.<br>We believe in the power of teamwork and in a continue feedback client-designer – X * Y * Z > X + Y + Z .
  </p>
 </div>
</div>