---
layout: layout1
---

<%= stylesheet_link_tag "contact" %>

<form id="ajax-contact" method="post" action="mailer.php">

  <div class="field">
    <label for="name">Empresa–Particular</span></label>
    <input type="text" id="name" name="name" placeholder="Escribe aquí" required>
  </div>

  <div class="field">
    <label for="email">Email</span></label>
    <input type="email" id="email" name="email" placeholder="Escribe aquí" required>
  </div>

  <div class="field">
    <label for="message">
    </label>
    <textarea id="message" name="message" placeholder="Escribe aquí" required></textarea>
    </div>

  <div class="field">
    <button id='enviar' type="submit">ENVIAR</button>
  </div>

</form>

<div id="form-messages"></div>