---
layout: layout1
---

<%= stylesheet_link_tag "jobs" %>
<div class="jobs-container">
<img src="/images/newmember.svg">
<h1>Currently we are not looking for new members.<br> Although we are open to all kind of collaborations so feel free to <a href="contact.html">contact us</a></h1>
</div>