---
layout: layout1
---

<%= stylesheet_link_tag "skills" %>
<div class="row container">

  <div class="skill col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img class="icon" src="../images/icon-branding.svg">
  	  <div class="text">
  	    <h2>BRANDING</h2><br><p>Get a great start on your business by letting us help you setup your brand identity. Our team will conduct a deep research and interviews to help your brand standout from the market.</p>
  	  </div>
  </div>
  <div class="skill col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img class="icon" src="../images/icon-packaging.svg">
  	  <div class="text">
  	    <h2>PACKAGING</h2><br><p>First impression is crucial in building a great product. Through packaging design, we're here to get the customers your product deserves.</p>
  	  </div>
  </div>
  <div class="skill col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img class="icon" src="../images/icon-editorial.svg">
  	  <div class="text">
  	    <h2>EDITORIALS</h2><br><p>Reach customers with your information presented in a clear and direct way. From flyers to catalogs, we can make it easy for your audience to understand what your want to convey.</p>
  	  </div>
  </div>
  <div class="skill col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img class="icon" src="../images/icon-web.svg">
  	  <div class="text">
  	    <h2>WEB / E-COMMERCE</h2><br><p>Maximise your full potential to reach a wider market through your online presence. Not only do we make cool e-commerce websites, it will automatically come with mobile responsive pages too.</p>
  	  </div>
  </div>
  <div class="skill col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img class="icon" src="../images/icon-poster.svg">
  	  <div class="text">
  	    <h2>GRAPHIC DESIGN</h2><br><p>Create eye-catching illustrations and infographics that you can share for marketing campaigns, editorial advertisements or social media.</p>
  	  </div>
  </div>
  <div class="skill col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img class="icon" src="../images/icon-product.svg">
  	  <div class="text">
  	    <h2>TEXTILE DESIGN</h2><br><p>Uniforms can be cool with an awesome design and if you make it the right way. We have extensive experience in the textile industry making from T-shirts to sports technical equipment.</p>
  	  </div>
  </div>

</div> <!-- END ROW -->