---
layout: layout1
---

<%= stylesheet_link_tag "skills" %>
<div class="row container">

  <div class="skill col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img class="icon" src="../images/icon-branding.svg">
  	  <div class="text">
  	    <h2>BRANDING</h2><br><p>We will help you to create your brand through a deep research and your brand will have a great start.</p>
  	  </div>
  </div>
  <div class="skill col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img class="icon" src="../images/icon-packaging.svg">
  	  <div class="text">
  	    <h2>PACKAGING</h2><br><p>Your product will look like it should. The first impression is crucial to succeed.</p>
  	  </div>
  </div>
  <div class="skill col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img class="icon" src="../images/icon-editorial.svg">
  	  <div class="text">
  	    <h2>EDITORIAL DESIGN</h2><br><p>From Flyers to complex Catalogs, all them will reach your customers in a clear and direct way.</p>
  	  </div>
  </div>
  <div class="skill col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img class="icon" src="../images/icon-web.svg">
  	  <div class="text">
  	    <h2>WEB DESIGN </h2><br><p>Nowadays a well-designed website will not only efficiently inform, but also maximize sales and give a good image.</p>
  	  </div>
  </div>
  <div class="skill col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img class="icon" src="../images/icon-poster.svg">
  	  <div class="text">
  	    <h2>GRAPHIC DESIGN</h2><br><p>We will produce eye-caching solutions. You are going to make noise.</p>
  	  </div>
  </div>
  <div class="skill col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <img class="icon" src="../images/icon-product.svg">
  	  <div class="text">
  	    <h2>TEXTILE DESIGN</h2><br><p>We can create any garment you want. We have extensive experience in the textile industry making from T-shirts to sports technical equipment.</p>
  	  </div>
  </div>

</div> <!-- END ROW -->