---
layout: layout1
---

<%= stylesheet_link_tag "works" %>

<div class="works-container">
  <div class="row">
    <div class="col-xl-12">
      <div id="logo-collection">
      	<div class="text">
    	  <a href="../projects/logo-collection.html"><h1>LOGO COLLECTION</h1></a>
    	  <h2>&nbspSome logos created during the last years.</h2>
    	</div>
      </div>	
    </div>	
  </div>
  <div class="separator"></div>
  <div class="row">
    <div class="col-xl-12">
      <div id="roger-sport">
      	<div class="text">
    	  <a href="../projects/roger-sport.html"><h1>ROGER SPORT<sup>TM</sup></h1></a>
    	  <h2>&nbspSportswear brand.</h2>
    	</div>
      </div>	
    </div>	
  </div>
  <div class="separator"></div>
  <div class="row">
    <div class="col-xl-12">
      <div id="textile-design">
        <div class="text">
        <a href="../projects/sportwear.html"><h1>TEXTILE DESIGN</h1></a>
        <h2>&nbspSportswear technical apparel</h2>
      </div>
      </div>  
    </div>  
  </div>
  <div class="separator"></div>
  <div class="row">
    <div class="col-xl-12">
      <div id="packaging">
        <div class="text">
        <a href="../projects/packaging.html"><h1>PACKAGING</h1></a>
        <h2>&nbspHealthy Snacks e-commerce</h2>
      </div>
      </div>  
    </div>  
  </div>
</div>
<div class="separator"></div>