---
layout: layout1
---

<%= stylesheet_link_tag "home" %>
<%= stylesheet_link_tag "animate.min" %>

<div class="video-container row">
  <div class="col-xl-12">  
      <video autoplay playsinline muted loop controls="true" class="salesvideo">
        <source src="../images/BackInk.mp4" type="video/mp4">
      </video>
      <div id="lightdarklogo"></div>
      <!-- <image id="lightdarklogo" src='../images/LDLogo.svg'></image> -->
  </div>
</div>

<div class="row">
 <div class="col-xl-12">
  <p class="home-text">Somos un estudio de diseño que resuelve problemas con un equilibrio perfecto entre elegancia y simplicidad.</p>	
 </div>	
</div>


<div class="row questions-block">

  <div class="containers col-sm-12 col-md-6 col-lg-6 col-xl-6">
  	<h1 class="questions-text">¿Cómo podemos ayudar?</h1>
  </div>
  <div class="containers col-sm-12 col-md-6 col-lg-6 col-xl-6">
  	<img class="small-icon" src="/images/howcanwehelp.svg">
    <div class="answer-text">
      <h4>Nuestro equipo multidisciplinar es experto en marcas, desarrollo web, diseño y fabricación de textiles y cualquier tipo de diseño gráfico que puedas imaginar. <a class="more-info" href="/views/works.html">Algunos ejemplos.</a></h4>
    </div>
  </div>
  <div class="containers col-sm-12 col-md-6 col-lg-6 col-xl-6">
  	<h1 class="questions-text">¿Cómo trabajamos?</h1>
  </div>

  <div class="containers col-sm-12 col-md-6 col-lg-6 col-xl-6">
  	<img class="small-icon" src="/images/howdowework.svg">
    <div class="answer-text">
      <h4>Comenzamos con una auditoría, seguida de una profunda investigación. Posteriormente ejecutamos las ideas y las presentamos. Finalmente, cuando dices: "¡Guau!", El proyecto termina aunque nuestra relación no. <a class="more-info" href="/views/about.html">Más sobre nosotros.</a></h4>
    </div>
  </div>

  <div class="containers col-sm-12 col-md-6 col-lg-6 col-xl-6">
  	<h1 class="questions-text">¿Por qué nosotros?</h1>
  </div>

  <div class="containers col-sm-12 col-md-6 col-lg-6 col-xl-6">
  	<img class="small-icon" src="/images/whyus.svg">
    <div class="answer-text">
      <h4>Porque somos buenos y siempre damos lo mejor. Funcionales, eficientes, Apasionados... . Pero tenemos un problema, no nos rendimos nunca. <a class="more-info" href="/views/contact.html">Contacta con nosotros.</a></h4>
    </div>	  
  </div>



</div> <!-- END QUESTION BLOCK -->
