---
layout: layout1
---

<%= stylesheet_link_tag "home" %>
<%= stylesheet_link_tag "animate.min" %>
<%= javascript_include_tag "jquery.lettering.min" %>
<%= javascript_include_tag "jquery.textillate" %>
<div class="logo-container row">
 <div class="col-xl-12">	
  <image id="lightdark-logo" src='images/LandD-BigLetters.svg'></image>
 </div>
</div>

<div class="row">
 <div class="col-xl-12">
  <p class="home-text">We are a design studio that solves problems with a perfect balance between elegance and simplicity.</p>	
 </div>	
</div>

<!-- <div class="logo-container2 row">
 <div class="col-xl-12">	
  <image id="lightdark-logo" src='images/arrow.svg'></image>
 </div>
</div> -->

<div class="row">
 <div class="index-squarebox1 col-sm-12 col-md-6 col-lg-6 col-xl-6">
 </div>
 <div class="index-squarebox2 col-sm-12 col-md-6 col-lg-6 col-xl-6"> 
 </div>
</div>