---
layout: layout1
---

<%= stylesheet_link_tag "home" %>
<%= stylesheet_link_tag "animate.min" %>
<%= javascript_include_tag "jquery.lettering.min" %>
<%= javascript_include_tag "jquery.textillate" %>
<div class="logo-container row">
 <div class="col-xl-12">	
  <image id="lightdark-logo" src='images/LandD-BigLetters.svg'></image>
 </div>
</div>

<div class="row">
 <div class="col-xl-12">
  <p class="home-text">We are a design studio that solves problems with a perfect balance between elegance and simplicity.</p>	
 </div>	
</div>


<div class="row questions-block">

  <div class="containers col-sm-12 col-md-6 col-lg-6 col-xl-6">
  	<h1 class="questions-text">How can we help?</h1>
  </div>
  <div class="containers col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="answer-text">
      <h4>Our multidisciplinary team is expert on branding, web development, textile design and manufacturing, and any kind of graphic design you can think of.</h4>
    </div>
  </div>
  <div class="containers col-sm-12 col-md-6 col-lg-6 col-xl-6">
  	<h1 class="questions-text">How do we work?</h1>
  </div>

  <div class="containers col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="answer-text">
      <h4>We start with a design audit, followed by a deep research .Then we execute the ideas and present to you. Finally when you say -Wow!, the project has ended but our relationship does not.
      </h4>
    </div>
  </div>

  <div class="containers col-sm-12 col-md-6 col-lg-6 col-xl-6">
  	<h1 class="questions-text">Why us?</h1>
  </div>

  <div class="containers col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="answer-text">
      <h4>Because we are good and we have very high standards. We are fanatics of functionality and we love efficiency, but we have a problem of never giving up.
      </h4>
    </div>	  
  </div>



</div> <!-- END QUESTION BLOCK -->

<!-- <div class="row">
 <div id='one' class="index-squarebox col-sm-12 col-md-6 col-lg-6 col-xl-6">
   <h1 class="numbers">1<em>First contact</em></h1><p class="list">We will ask you a few questions about your business (existing or not yet). Goals, scope, philosophy ...</p>
 </div>
 <div id='two' class="index-squarebox col-sm-12 col-md-6 col-lg-6 col-xl-6"> 
   <h1 class="numbers">2<em> Research</em></h1><p class="list">We will research a lot in order to get inmerse into the project. </p>
 </div>
 <div id='three' class="index-squarebox col-sm-12 col-md-6 col-lg-6 col-xl-6"> 
   <h1 class="numbers">3<em>Action</em></h1>
 </div>
 <div id='four' class="index-squarebox col-sm-12 col-md-6 col-lg-6 col-xl-6">
   <h1 class="numbers">4<em> Finish</em></h1> 
 </div>
</div> -->